*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #fff;
}

/* side nav */
header{
    height: 100%;
    width: 30rem;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    
    background-color: #111;
    overflow-x: hidden; 
    padding: 2rem;
}
.sidenav{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    position: relative;
    height: 100%;
}

.sidenav .group1,
.sidenav .group2,
.sidenav .group3{
    display: flex;
    flex-direction: column;
}
.group2{
    margin-top: 2rem;
}

.group2 p{
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.fa-plus-square{
    font-size: 4rem;
}
.white-color{
    color: #fff;
}
.logo, .logo i{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: none;
    padding-bottom: 1rem;
}
.sidenav a:not(:first-child){
    color: #a6a6a6;
    text-decoration: none;
    padding-bottom: 1rem;
}
.link img{
    width: 2rem;
}
.group3{
    position: absolute;
    bottom: 13rem;
}

.group3 .app-install{
    color: gray;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
.profile{
    margin-top: 2rem;
}

.profile img{
    width: 2rem;
    margin-right: 1rem;

}
/* main section start*/
main{
    /* width: 100%; */
    /* ********** */
    margin-left: 30rem;
    display: grid;
    height: 100%;
    grid-template-rows: 5vh 10vh 100vh;
    grid-template-columns: 1fr;
    background-color: #2d3442;
    position: relative;
}

/* navbar */
.nav{
    grid-row: 1/2;
    font-size: 2rem;
    width: 100%;
    background-color: #222833;
    padding: 2rem;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.nav button{
    border-radius: 4rem;
    background-color: #222833;
    border: 1px solid #fff;
    color: #fff;
    width: 10rem;
    padding: 1rem 2rem;
    text-transform: uppercase;

    margin-left: 110rem;
    
    /* position: absolute;
    right: 2rem;
    top: 1.5rem; */
}

.top-group{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin: 2rem 0;
}

.underline{
    position: relative;
}
.underline::after{
    content: "";
    width: 4rem;
    height: 4px;
    color: #008000;
    background-color:#008000;
    position: absolute;
    top: 3rem;
    right: 2rem;
    border-radius: 5px;
}

.top-group a{
    font-size: 1.5rem;
    background-color: transparent;
    margin-right: 2rem;
    color: #a6a6a6;
    text-transform: uppercase;
    text-decoration: none;
}

/* grid song section */
.songs-container{
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 2rem 14rem 2rem;
}

/* row1 */
.recently-played-row{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.recently-played-row h2{
    text-align: left;
    grid-row: 1/2;
    font-size: 2rem;
}
.albums{
    grid-row: 2/-1;
    display: flex;
}
.albums .album{
    margin-right: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.albums img{
    width: 20rem;
}

.artist-name{
    color: grey;
}

/* row2 */
.created-songs-row{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.created-songs-row title{
    grid-row: 1/2;
}

.title h2{
    font-size: 2rem;
}

.title p{
    font-size: 1.5rem;
    color: gray;
}

.created-songs-row h2{
    font-size: 2rem;
}
/* row3 */
.popular-artist-row{
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.albums .circle-img{
    border-radius: 50%;
}

/* footer */
footer{
    background-color: #343c4c;
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 4rem 2rem;
    font-size: 2rem;
    z-index: 1; 
    /* overflow-x: hidden;  */
}

.footer-left{
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

.like-icon span{
    margin-right: 1rem;
}

.footer-left .cover-img{
    display: flex;
    margin-right: 4rem;
}

.cover-img img{
    width: 6rem;
    margin-right: 2rem;
}
.cover-img p{
   font-size: 1.5rem; 
}
.cover-img span{
    display: block;
}

.footer-middle{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-middle .play-icons{
    display: flex;
    gap: 2rem;
}


.footer-middle .line{
    display: flex;
    gap: 2rem;
    color: #fff;
    align-items: center;
    
}

.line .play-line{
    height: 7px;
    width: 30rem;
    color: #fff;
    background-color:grey ;
    position: relative;
    border-radius: 1rem;
}
.play-line::after{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 10rem;
    height: 7px;
    border-radius: 1rem;
}

/* footer-right */
.footer-right{
    grid-column: 3/-1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.volume-setting{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.volume-setting .volume-line{
    display: inline-block;
    height: 7px;
    width: 13rem;
    color: violet;
    background-color: grey;
    position: relative;
    border-radius: 1rem;
}

.volume-line::after{
    content: "";
    position: absolute;
    width: 4rem;
    height: 7px;
    background-color: #fff;
    border-radius: 1rem;
}
